---
# basic image item layout
# Displays image_small if available, with fall back to object_location. 
# Adds gallery view to open images full screen using object_location, with fall back to image_small.
layout: item/item-page-base
gallery: true
---

<div class="row">
    <div class="col-md-6">
        {% include item/image-gallery.html %}
        <br>
    
    </div>
    <div class="col-md-6">
        {% include item/download-buttons.html %}
        {% if page.object_transcripción %}
        {% assign transcripción_type = page.object_transcripción | slice: 0,1 %}
        {% if transcripción_type == '/' %}
        {% assign transcripción_location = page.object_transcripción | remove_first: '/' %}
        {% assign transcripción = site.pages | where: 'path', transcripción_location | first %}
        {{ transcripción.content | markdownify }}
        {% else %}
        {{ page.object_transcripción | markdownify }}
        {% endif %}
        {% endif %} 
    </div>
</div>
